.btn {
  margin-top: 5vh;
  width: 200px;
  border-radius: 10px;
	padding: 15px 25px;
  font-size: 20px;
  background-color: #9900cc;
  color: #fff;
}

.col {
  margin: 20px;
}

.inline {
  display: inline-block;
}

textarea {
  width: 200px;
  height: 100px;
  resize: none;
}

input {
  width: 200px;
  height: 20px;
}

select {
  width: 204px;
  height: 25px;
}

.flexView {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.col-2 {
  column-count: 2;
  margin-left: 10vw;
}
