.box {
  width: 100px;
  height: 100px;
  background-color: #DC2FFF;
  margin: 5vw;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn {
  margin-top: 5vh;
  width: 200px;
  border-radius: 10px;
	padding: 15px 25px;
  font-size: 20px;
  background-color: #9900cc;
  color: #fff;
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: row;
  width: 40vw;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
