body {
  font-family: 'Monda', sans-serif;
}

.logo {
  height: 80px;
}

.header {
  background-color: #9900cc;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.title {
  font-size: 1.5em;
}

.formBody {
  margin: 10vh 0 0 10vh;
}

.btn {
  margin-top: 5vh;
  width: 173px;
  border-radius: 10px;
	padding: 15px 25px;
  font-size: 20px;
  background-color: #9900cc;
  color: #fff;
}
